body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: gray;
}

.App {
  background-color: gray;
  min-width: 700px;
}

.boardButton {
  transition: 0.5s;
  width: 150px;
  height: 150px;
  border: 10px black;
  border-radius: 10px;
  color: white;
  background-color: rgb(46, 46, 46);
  border: 3px solid black;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.boardButton:hover {
  transition: 0.5s;
  background-color: rgb(26, 25, 25);
  color: white;
}
.gameBoard {
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameBoardBoard {
  background-color: black;
  border: 4px solid gray;
  border-radius: 40px;
}
.titleTicTacToe {
  display: flex;
  align-items: center;
  justify-content: center;
  color: dark gray;
  font-size: 150px;
  font-weight: bold;
  margin-top: 1vh;
}
.actionText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: dark gray;
}
.matchFoundText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: maroon;
}
.connectedPlayers {
  display: flex;
  align-items: center;
  justify-content: center;
  color: dark gray;
  font-size: 20px;
}
.matchmakingButton {
  margin-top: 5vh;
  transition: 0.5s;
  border: 3px solid rgb(46, 46, 46);
  border-radius: 20px;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 30px;
  margin-bottom: 10vh;
}
.matchmakingButton:hover {
  transition: 0.5s;
  background-color: white;
  color: black;
}
.matchmaking {
  display: flex;
  align-items: center;
  justify-content: center;
}
